.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  margin: auto; /* Ensures centering on all viewport sizes */
}

.title {
  color: #2AAFA9;
  margin: 0 1rem 1rem; /* Adjusted margin for proper spacing */
  line-height: 1.15;
  font-size: 3rem; /* Consider making this smaller for mobile */
  text-align: center;
}

.description, .subtitle {
  text-align: left; /* Center align text for better mobile readability */
  color: white;
  width: 90%; /* Adjust width for better padding on mobile */
}

.description {
  /* Additional description-specific styles if necessary */
}

.subtitle {
  color: #DEF2F1;
  line-height: 1.3; /* Adjusted for better readability */
  font-size: 2rem; /* Consider adjusting for mobile */
}

@media (max-width: 600px) {
  .container, .description, .subtitle {
    width: 100%; /* Utilize more screen space on small devices */
  }
  .title {
    font-size: 2rem; /* Smaller font size for small devices */
  }
  .subtitle {
    font-size: 1.5rem; /* Adjust subtitle font size for mobile */
  }
  .description{
    font-size: 0.7rem;
  }
}
